#### 1. Import pandas library

In [5]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [1]:
import pymysql
from sqlalchemy import create_engine
from decouple import config

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [7]:
#SQL_USERNAME = config('sql_username')
#SQL_PWD = config('sql_pwd')

engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306')

#### 4. Import the users table

In [13]:
users = pd.read_sql_query("SELECT * FROM stats.users",engine)

#### 5. Rename Id column to userId

In [24]:
users.rename(columns = {'Id':'userId'}, inplace=True)

#### 6. Import the posts table.

In [15]:
posts = pd.read_sql_query("SELECT * FROM stats.posts",engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [25]:
posts.rename(columns ={'Id':'postId','OwnerUserId':'userId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [27]:
new_users = users[['userId','Reputation','Views','UpVotes','DownVotes']]
new_posts = posts [['postId','Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [28]:
df = new_users.merge(new_posts,on = 'userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [30]:
df.isnull().sum()
#ViewCount has 48396 missing values

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [37]:
#I will replace the ViewCount NaN with 0
df['ViewCount'] = df['ViewCount'].fillna(0)
df.head(10)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
5,-1,1,0,5007,1920,9857,0,0.0,0
6,-1,1,0,5007,1920,9858,0,0.0,0
7,-1,1,0,5007,1920,9860,0,0.0,0
8,-1,1,0,5007,1920,10130,0,0.0,0
9,-1,1,0,5007,1920,10131,0,0.0,0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [42]:
"""
before:
    userId            int64
    Reputation        int64
    Views             int64
    UpVotes           int64
    DownVotes         int64
    postId            int64
    Score             int64
    ViewCount       float64
    CommentCount      int64
"""
#ViewCount should be an int64 instead of a float, because you can't have partial views
df['ViewCount'] = df['ViewCount'].astype('int64')
df.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [48]:
stats = df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
outliers = pd.DataFrame(columns=df.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df[(df[col] < lower) |
                   (df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

outliers.to_csv('outliers.csv', index=False)